/Data/Simulation_1/generation_1.py
/Data/Simulation_2/generation_2.py
/Data/Simulation_3/generation_3.py
/Data/6_Mouse_Embryo/
/Data/7_ME13_1/
/Data/9_Mouse_Thymus/
/Data/11_ccRCC_Y7_T/
/Example_4.ipynb
/Example_6.ipynb
/Example_7.ipynb
/Example_9.ipynb
/Example_11.ipynb
/visualization_dimension_reduction.ipynb